<h2 id="header"> Eat That Burger</h2>

<div class="row">
    <div class="col">
        <ul>
            <h3>Burgers available to eat!</h3>
            {{#each burgers}} {{#unless this.devoured}}
            <br> {{this.id}} {{this.burger_name}}

            <form action="/burgers/update/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="true">
                <button class="devourBurger" type="submit">Devour It!</button>

            </form>

            {{/unless}} {{/each}}

        </ul>
    </div>
    <div class="col">
        <h3> Add a burger</h3>

        <form action="burgers/create" method="POST">

            <div class="form-group">

                <input type="text" name="burger_name">
                <input type="hidden" name="devoured" value="0">
            </div>
            <button id="addBurgerBtn" type="submit">Add Burger</button>
        </form>
        </form>
    </div>
    <div class="col">
        <ul>
            <h3>Burgers ate!</h3>
            {{#each burgers}} {{#if devoured}}
            <br> {{this.id}} {{burger_name}} {{/if}} {{/each}}
        </ul>
    </div>
</div>